<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.7/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         backupGlobals="false"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true">
    <testsuite name="default">
        <directory suffix="Test.php">app/tests</directory>
    </testsuite>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">app/src</directory>
        </whitelist>
    </filter>

    <php>
        <env name="SS_DATABASE_USERNAME" value="root" />
        <env name="SS_DATABASE_PASSWORD" value="" />
        <env name="SS_DATABASE_PORT" value="3306" />
        <env name="SS_DATABASE_CLASS" value="MySQLDatabase" />
        <env name="SS_DATABASE_SERVER" value="127.0.0.1" />
        <env name="SS_DATABASE_NAME" value="app" />
        <env name="SS_USE_BASIC_AUTH" value="false" />

        <!-- Forces flushing before running tests as sometimes caching gets stuck -->
        <get name="flush" value="all"/>
    </php>
</phpunit>
